<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title"> Users</h4>
      </div>
      <div class="card-body">

        <div class="table-responsive">
          <table class="table">
            <thead class=" text-primary">
              <th>
                Name
              </th>
              <th>
                Email
              </th>
              <th>
                City
              </th>
              <th>
                Number
              </th>
              <th>
                More Info
              </th>
            </thead>
            <tbody>
              <tr *ngFor="let user of this.api.users | async;let i = index">
                <td *ngIf="user.name != 'admin'">
                  {{user?.name}}
                </td>
                <td *ngIf="user.name != 'admin'">
                  {{user?.email}}
                </td>
                <td *ngIf="user.name != 'admin'">
                  {{user?.city}}
                </td>
                <td *ngIf="user.name != 'admin'">
                  {{user?.number}}
                </td>
                <td *ngIf="user.name != 'admin'" [routerLink]="['/user', user?.uid]">View</td>
              </tr>
            </tbody>
          </table>
        </div>

      </div>
    </div>
  </div>

</div>
