<div class="row">
  <div class="col-md-12">
    <div class="card ">
      <div class="card-header ">
        <h5>{{uniqueName}}</h5>
      </div>
      <div class="card-body ">
        <div class="table-responsive">
          <table class="table">
            <thead class=" text-secondary">
              <th>
                Chapter Name
              </th>
              <th>Video</th>
              <th>Edit</th>
              <th>Delete</th>
              <!-- <th>Watched</th> -->
            </thead>
            <tbody>
              <tr *ngFor="let chapter of chapters;let i = index">
                <td>
                  {{chapter?.name}}
                </td>
                <td>
                  <video type="video/mp4" height="200px" width="200px" controls src="{{chapter.video}}">
                  </video>
                </td>
                <td>
                  <button (click)="passChapterName(chapter?.name, chapter?.chapterId, chapter?.video)"
                    data-toggle="modal" data-target="#exampleModal" class="btn btn-round btn-primary"><i
                      class="fa fa-pencil" aria-hidden="true"></i></button>
                </td>
                <td>
                  <button (click)="deleteChapter(chapter.chapterId)" class="btn btn-round btn-secondary"><i
                      class="fa fa-trash" aria-hidden="true"></i></button>
                </td>
                <!-- <td (click)="getSingleChapter(chapter?.chapterId)" data-toggle="modal" data-target="#watchedModal">
                  View
                </td> -->
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Edit Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit Chapter</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="clearChapterName()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="chapterForm">
          <div class="form-group">
            <label>Course Name</label>
            <input type="text" formControlName="name" [(ngModel)]="this.chapterName" placeholder="Name of the Chapter"
              class="form-control">
          </div>
          <label>Intro Video</label>
          <div>
            <input #file3 type="file" accept="video/*" (change)="onFileChanged3($event)">
          </div>
          <div class="progress">
            <div #progress3 class="progress-bar progress-bar-striped bg-success" role="progressbar"
              [style.width]="(this.api.uploadProgress3| async) + '%'"
              [attr.aria-valuenow]="(this.api.uploadProgress3| async)" aria-valuemin="0" aria-valuemax="100">
              {{this.api.uploadProgress3 | async}}</div>
          </div>

        </form>
      </div>
      <div class="modal-footer">
        <div *ngIf="this.downloadUrl3 !== null" class="text-secondary">Video Upload Successful, You can update Chapter
          Now</div>
        <div></div>
        <button (click)="clearChapterName()" type="button" class="btn btn-secondary btn-round"
          data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary btn-round" (click)="updateChapter()">Update
          Chapter</button>
      </div>
    </div>
  </div>
</div>


<!-- Watched Modal -->
<!-- <div class="modal fade" id="watchedModal" tabindex="-1" role="dialog" aria-labelledby="watchedModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="watchedModalLabel">Users Who Watched</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="table-responsive">
          <table class="table">
            <thead class="text-secondary">
              <th></th>
              <th>Name</th>
            </thead>
            <tbody>
              <tr *ngFor="let watch of watchers;let i = index">
                <td>{{i + 1}}</td>
                <td>{{watch}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div> -->
