<div class="row">
  <div class="col-md-12">
    <div class="card demo-icons">
      <div class="card-header">
        <h5 class="card-title">Add Course Or Chapter</h5>
        <p class="card-category"></p>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h6 class="card-title">Add a Course</h6>
        <form [formGroup]="courseForm">
          <div class="form-group">
            <label>Course Name</label>
            <input type="text" formControlName="name" placeholder="Name of the Course" class="form-control">
          </div>
          <div class="form-group">
            <label>Description</label>
            <textarea formControlName="description" class="form-control" rows="3"></textarea>
          </div>
          <div class="form-group">
            <label>Price</label>
            <input type="number" formControlName="price" placeholder="Enter Price" class="form-control">
          </div>

          <label>Thumbnail Image</label>
          <div class="fileinput fileinput-new" data-provides="fileinput">
            <input #file1 type="file" accept="image/*" (change)="onFileChanged($event)" />
          </div>
          <div class="progress">
            <div #progress1 class="progress-bar progress-bar-striped bg-success" role="progressbar"
              [style.width]="(this.api.uploadProgress| async) + '%'"
              [attr.aria-valuenow]="(this.api.uploadProgress| async)" aria-valuemin="0" aria-valuemax="100">
              {{this.api.uploadProgress | async}}</div>
          </div>

          <label>Upload Intro Video</label>
          <div class="fileinput fileinput-new" data-provides="fileinput">
            <input #file2 type="file" accept="video/*" (change)="onFileChanged2($event)" />
          </div>
          <div class="progress">
            <div #progress2 class="progress-bar progress-bar-striped bg-success" role="progressbar"
              [style.width]="(this.api.uploadProgress2| async) + '%'"
              [attr.aria-valuenow]="(this.api.uploadProgress2| async)" aria-valuemin="0" aria-valuemax="100">
              {{this.api.uploadProgress2 | async}}</div>
          </div>

          <button [disabled]="!(this.downloadUrl && this.downloadUrl2)" class="btn button-primary btn-round"
            type="button" (click)="uploadCourse()">Upload</button>

          <!-- <div class="fileinput fileinput-new text-center" data-provides="fileinput">
            <div class="fileinput-new thumbnail">
              <img alt="..." src="assets/img/image_placeholder.jpg">
            </div>
            <div class="fileinput-preview fileinput-exists thumbnail" style=""></div>
            <div>
              <span class="btn btn-rose btn-round btn-file">
                <span class="fileinput-new">Select image</span>
                <span class="fileinput-exists">Change</span>
                <input type="hidden" value="" name="...">
                <input name="" type="file">
              </span>
              <a class="btn btn-danger btn-round fileinput-exists" data-dismiss="fileinput" href="javascript:void(0)"><i
                  class="fa fa-times"></i> Remove</a>
            </div>
          </div> -->
        </form>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h6 class="card-title">Add Chapter</h6>
        <div class="table-responsive">
          <table class="table">
            <thead class=" text-secondary">
              <th>
                Course Name
              </th>
              <th>Add Chapter</th>
            </thead>
            <tbody>
              <tr *ngFor="let item of this.api.items | async;let i = index">
                <td>
                  {{item?.name}}
                </td>
                <td class="text-center"><button (click)="passCourseId(item?.courseId)" data-toggle="modal"
                    data-target="#exampleModal" class="btn btn-round btn-primary"><i class="fa fa-plus"
                      aria-hidden="true"></i></button>
                </td>
              </tr>
            </tbody>
          </table>
          <!-- Modal -->
          <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Add Chapter</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="clearChapter()">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <form [formGroup]="chapterForm">
                    <div class="form-group">
                      <label>Chapter Name</label>
                      <input type="text" formControlName="name" placeholder="Name of the Chapter" class="form-control">
                    </div>
                    <label>Chapter Video</label>
                    <div>
                      <input #file3 type="file" accept="video/*" (change)="onFileChanged3($event)">
                    </div>
                    <div class="progress">
                      <div #progress3 class="progress-bar progress-bar-striped bg-success" role="progressbar"
                        [style.width]="(this.api.uploadProgress3| async) + '%'"
                        [attr.aria-valuenow]="(this.api.uploadProgress3| async)" aria-valuemin="0" aria-valuemax="100">
                        {{this.api.uploadProgress3 | async}}</div>
                    </div>

                  </form>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary btn-round" data-dismiss="modal"
                    (click)="clearChapter()">Close</button>
                  <button [disabled]="!this.downloadUrl3" type="button" (click)="addChapter(courseId)"
                    class="btn btn-primary btn-round">Add
                    Chapter</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
