<footer class="footer" style="background-color: #212120; color: #fff;">
  <div class="container-fluid">
    <nav class="pull-left">
      <ul>
        <li>
          <a href="javascript:void(0);">
            Discover Genius Within
          </a>
        </li>
        <!-- <li>
          <a href="javascript:void(0);">
            Blog
          </a>
        </li>
        <li>
          <a href="javascript:void(0);">
            Licenses
          </a>
        </li> -->
      </ul>
    </nav>
    <div class="copyright pull-right">
      &copy; {{test | date: 'yyyy'}}, made with <i class="fa fa-heart heart"></i> by <a
        href="https://credicxotech.com">Credicxo Technologies</a>
    </div>
  </div>
</footer>
